
<div class="container">
    <div class="jumbotron">
      <div class="container">
        <h1>Graffiti your favorite site</h1>
        <p>Enter a website url and start (Please note: use https)</p>
        <form action="/start" method="post">
            <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 
            <div class="row">
                <div class="col-lg-12">
                    <div class="input-group">
                        <input class="form-control" type="text" name='url'  placeholder="https://www.example.com">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Go!</button>
                        </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-12 -->
            </div><!-- /.row -->
        </form>
      </div>
    </div>
    
    <ul class="list-group">
        <% @sites.each do |site| %>
            <li class="list-group-item"><a href = <%= site.url %> ><%= site.prettyUrl %></a></li>
        <% end %>
    </ul>
</div>
